@model List<BabyDev.Web.ViewModels.CategoryViewModel>

<div class="well text-center">
    <h3>@Html.ActionLink("Categories", "Index", "Category", null, htmlAttributes: new { area = "" })</h3>
    @foreach (var category in @Model)
    {
        <p>
            @Html.ActionLink(category.Name, "Details", "Category", new { id = category.Id }, htmlAttributes: new { area = "" })
        </p>
    }
</div>

