@model List<BabyDev.Web.ViewModels.TopicViewModel>

<div class="well text-center">
    <h3>@Html.ActionLink("Topics", "Index", "Topic", null, htmlAttributes: new { area = "" })</h3>
    @foreach (var topic in @Model)
    {
        <p>
            @Html.ActionLink(topic.Title, "Details", "Topic", new { id = topic.Id }, htmlAttributes: new { area = "" })
        </p>
    }
</div>

