@model IEnumerable<BabyDev.Web.ViewModels.QuestionViewModel>
<h2>Questions asked</h2>
<h3>@Html.ActionLink("Ask a question", "Ask", new { @class = "pull-right btn btn-primary" })</h3>

@section SideBarLeft
{
    @Html.Action("_CategoriesPartial")
}

<div class="container">    
    @Html.DisplayForModel()
</div>

@section SideBarRight
{
    @Html.Action("_QuestionsPartial")
}
