@model List<BabyDev.Web.ViewModels.CategoryViewModel>
<h3>Categories</h3>

@section SideBarLeft
{
    @Html.Action("_CategoriesPartial")
}

@foreach (var category in Model)
{
    <p>@category.Name</p>
}

@section SideBarRight
{
    @Html.Action("_QuestionsPartial")
}


