@using BabyDev.Web.Areas.Administration.ViewModels
@model TopicViewModel

@{
    ViewBag.Title = "Topics";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

<h2>Topics</h2>

@(Html.Kendo().Grid<TopicViewModel>()
.Name("grid-topics")
.Columns(columns =>
{
    columns.Bound(model => model.Title);
    columns.Bound(model => model.RelatedMonths);
    columns.Bound(model => model.CategoryName);

    columns.Command(command => { command.Edit(); command.Destroy(); }).Width(200);
})
.DataSource(data =>
{
    data.Ajax()
        .Model(m => m.Id(t => t.Id))
        .PageSize(10)
        .ServerOperation(true)
        .Read(read => read.Action("Read", "Topics"))
        .Update(up => up.Action("Update", "Topics"))
        .Destroy(del => del.Action("Delete", "Topics"))
        .Create(create => create.Action("Create", "Topics"));
}
)
.Sortable()
.Pageable()
.ToolBar(toolbar => toolbar.Create())
.Editable(
e => e.Mode(GridEditMode.PopUp).TemplateName("TopicsTemplate").Window(w => w.Title("Add/Edit Topics").Width(420))
)
.Filterable()
.Groupable()
.Resizable(resize => resize.Columns(true))
.Selectable()
)