@using BabyDev.Web.Areas.Administration.ViewModels
@model ParagraphViewModel

@{
    ViewBag.Title = "Topics";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
    const string ControllerName = "Paragraphs";
}

<h2>Topics</h2>

@(Html.Kendo()
    .Grid<ParagraphViewModel>()
    .Name("grid")
    .Columns(cols =>
    {
        cols.Bound(t => t.Id);
        cols.Bound(t => t.Subtitle);
        cols.Bound(t => t.Content);
        cols.Bound(t => t.TopicId);//.EditorTemplateName("CategoriesDropdownTemplate").Title("Category").ClientTemplate("#:CategoryName#");
        cols.Bound(t => t.CreatedOn).Hidden();
        cols.Bound(t => t.ModifiedOn).Hidden();
        cols.Command(com => com.Edit()).Title("Update");
        cols.Command(com => com.Destroy()).Title("Delete");
    })
    .ColumnMenu()
    .Pageable(page => page.Refresh(true))
    .Sortable()
    .Groupable()
    .Filterable()
    .Editable(edit => edit.Mode(GridEditMode.PopUp).TemplateName("ParagraphsTemplate"))
    .ToolBar(toolbar => toolbar.Create())
    .DataSource(data =>
        data
            .Ajax()
            .ServerOperation(true)
            .Model(m => m.Id(t => t.Id))
            .Read(read => read.Action("Read", ControllerName))
            .Create(create => create.Action("Create", ControllerName))
            .Update(update => update.Action("Update", ControllerName))
            .Destroy(destroy => destroy.Action("Destroy", ControllerName))
            ))
