@model List<BabyDev.Web.ViewModels.TopicViewModel>
<h3>Topics</h3>

@section SideBarLeft
{
    @Html.Action("_CategoriesPartial")
}

@Html.DisplayFor(m => m)

@section SideBarRight
{
    @Html.Action("_QuestionsPartial")
}


