@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>
<h3>BabyDev's goal</h3>

<p>First time parents, and not only, sometimes feel lost in the rapid development of your little one. This site will help you be prepared for what's coming and fully enjoy the short and never coming-back time, when your child is a baby.</p>
