@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    bul. Alexander Malinov 31<br />
    Sofia, Bulgaria<br />
    <abbr title="Phone">Phone: +359 888 123 456</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@babydev.com">Support@babydev.com</a><br />
    <strong>Specialist:</strong> <a href="mailto:Marketing@babydev.com">Specialist@babydev.com</a>
</address>