@using BabyDev.Web.Areas.Administration.ViewModels
@model CategoryViewModel

@{
    ViewBag.Title = "Categories";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
    const string ControllerName = "Categories";
}

<h2>Categories</h2>


@(Html.Kendo()
        .Grid<CategoryViewModel>()
    .Name("grid")
    .Columns(cols =>
    {
        cols.Bound(t => t.Id);
        cols.Bound(t => t.Name);
        cols.Bound(t => t.CreatedOn).Hidden();
        cols.Bound(t => t.ModifiedOn).Hidden();
        cols.Command(com => com.Edit()).Title("Update");
        cols.Command(com => com.Destroy()).Title("Delete");
    })
    .ColumnMenu()    
    .Pageable(page => page.Refresh(true))
    .Sortable()
    .Groupable()
    .Filterable()
    .Editable(edit => edit.Mode(GridEditMode.PopUp))
    .ToolBar(toolbar => toolbar.Create())
    .DataSource(data =>
        data
            .Ajax()
            .ServerOperation(true)
            .Model(m => m.Id(t => t.Id))
            .Read(read => read.Action("Read", ControllerName))
            .Create(create => create.Action("Create", ControllerName))
            .Update(update => update.Action("Update", ControllerName))
            .Destroy(destroy => destroy.Action("Destroy", ControllerName))
            ))